<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <span class="sr-only">This is Changelogs page, press back button to go back to main menu.</span>
    <h5 style="margin:6px 2px 2px 6px;">Version 1.3.0</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Add Changelogs page</li>
      <li style="margin-right:0px;margin-bottom:3px;"><b>Transaction History</b>: Press <b>Call</b> button to download the data(<b>csv</b>)</li>
    </ul>
  </div>
</div>
