<div class="kui-flex-wrap">
  <style>
    .txtarea {
      width: 100%;
      border-radius: 2px;
      padding: 10px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #aaaaaa;
    }
  </style>
  <ul class="kui-list kai-container">
    <li class="kui-divider">
      <label for="amount" class="sr-only">Enter amount of {{ type }}. Press Call Button to listen for amount.</label>
      <input id="amount" name="amount" placeholder="Enter amount of {{ type }}" class="formNav kui-input" type="tel" />
    </li>
    <li class="kui-divider" style="height:116px;">
      <label id="note-sr" class="sr-only">Note of transaction(optional). Press Call Button to listen for transaction note.</label>
      <textarea aria-labelledby="note-sr" id="note" name="note" placeholder="Note of transaction(optional)" class="formNav txtarea" style="height:100px;" type="text"></textarea>
    </li>
    <li class="formNav kui-divider" @click="submit()">
      <div class="kui-row-center" style="justify-content:space-around;">
        <h4>SUBMIT TRANSACTION</h4>
      </div>
    </li>
  </ul>
</div>
