<div class="kui-flex-wrap">
  <style>
    .h-row {
      width:100%;display:flex;flex-direction:row;justify-content:space-between;align-items:center;align-content:space-between;
    }
  </style>
  <div class="kai-container" style="font-size:72%;font-weight:bold;padding:4px;height:48px;max-height:48px;background-color:#320374;color:#fff;display:flex;flex-direction:column;justify-content:space-between;align-items:center;align-content:space-between;">
    <div class="h-row">
      <div>Total Withdraw</div><div>{{ unit }}{{ total_withdraw }}</div>
    </div>
    <div class="h-row">
      <div>Total Deposit</div><div>{{ unit }}{{ total_deposit }}</div>
    </div>
    <div class="h-row">
      <div>From: {{ _begin }}</div><div>To: {{ _end }}</div>
    </div>
  </div>
  <ul class="kui-list kai-container" style="max-height:180px;">
    {{#logs}}
    <li class="transNav">
      <div style="width:100%;">
        <div class="h-row">
          <div>{{ idx }}. {{ _date }}</div>
          <div>[{{ _type }}]</div>
        </div>
        <div style="width:1px;height:5px;"></div>
        <div style="text-align:right;">
          <b>{{ unit }}{{ value }}</b>
        </div>
      </div>
    </li>
    {{/logs}}
  </ul>
</div>
